.theme-hsr {
	--theme-bg-dark: url('../../assets/hsr_bg_dark.jpg');
	--theme-bg-light: url('../../assets/hsr_bg.jpg');
	
	--theme-focus-primary: #d1a55b;
	--theme-shadow-primary: rgba(209, 165, 91, 0.3);
	
	--theme-focus-secondary: #00e5ff;
	--theme-shadow-secondary: rgba(0, 229, 255, 0.3);
	
	--theme-highlight-text: #ffffff;
	
	--theme-secondary-text: #d1a55b;
	--theme-secondary-text-shadow: 0 0 15px rgba(209, 165, 91, 0.5);
}