.theme-zzz {
	--theme-bg-dark: url('../../assets/zzz_bg_dark.png');
	--theme-bg-light: url('../../assets/zzz_bg.jpeg');

	--theme-focus-primary: #face15;
	--theme-shadow-primary: rgba(250, 206, 21, 0.3);

	--theme-focus-secondary: #fb7185;
	--theme-shadow-secondary: rgba(251, 113, 133, 0.3);

	--theme-highlight-text: #ffffff;

	--theme-secondary-text: #face15;
	--theme-secondary-text-shadow: 0 0 15px rgba(250, 206, 21, 0.5);

	--theme-card-primary-border: 4px solid #face15;
	--theme-card-secondary-border: 4px solid #fb7185;

	--theme-light-hover-border: rgba(250, 206, 21, 0.6);
	--theme-light-title-text: #111;
	--theme-light-card-title: #444;
	--theme-light-input-text: #111;
	--theme-light-input-label: #555;
	--theme-light-result-bg: rgba(0, 0, 0, 0.05);
	--theme-light-result-border: rgba(0, 0, 0, 0.05);
	--theme-light-result-shadow: rgba(0, 0, 0, 0.02);
	--theme-light-result-label: #666;
	--theme-light-highlight-text: #111;
	--theme-light-title-border: 1px solid rgba(0, 0, 0, 0.1);
}